.vscode/settings.json
xv6_patched/bootother
xv6_patched/fs.img
xv6_patched/initcode
xv6_patched/xv6.img
xv6_patched/fs/cat
xv6_patched/fs/echo
xv6_patched/fs/elijahtest
xv6_patched/fs/forktest
xv6_patched/fs/grep
xv6_patched/fs/init
xv6_patched/fs/kill
xv6_patched/fs/ln
xv6_patched/fs/ls
xv6_patched/fs/mkdir
xv6_patched/fs/README
xv6_patched/fs/rm
xv6_patched/fs/sh
xv6_patched/fs/stressfs
xv6_patched/fs/test1
xv6_patched/fs/test2
xv6_patched/fs/test3
xv6_patched/fs/tester
xv6_patched/fs/usertests
xv6_patched/fs/wc
xv6_patched/fs/zombie
xv6_patched/kernel/bio.d
xv6_patched/kernel/bio.o
xv6_patched/kernel/bootasm.d
xv6_patched/kernel/bootasm.o
xv6_patched/kernel/bootblock
xv6_patched/kernel/bootblock.out
xv6_patched/kernel/bootmain.d
xv6_patched/kernel/bootmain.o
xv6_patched/kernel/bootother.d
xv6_patched/kernel/bootother.o
xv6_patched/kernel/bootother.out
xv6_patched/kernel/console.d
xv6_patched/kernel/console.o
xv6_patched/kernel/data.d
xv6_patched/kernel/data.o
xv6_patched/kernel/exec.d
xv6_patched/kernel/exec.o
xv6_patched/kernel/file.d
xv6_patched/kernel/file.o
xv6_patched/kernel/fs.d
xv6_patched/kernel/fs.o
xv6_patched/kernel/ide.d
xv6_patched/kernel/ide.o
xv6_patched/kernel/initcode.d
xv6_patched/kernel/initcode.o
xv6_patched/kernel/initcode.out
xv6_patched/kernel/ioapic.d
xv6_patched/kernel/ioapic.o
xv6_patched/kernel/kalloc.d
xv6_patched/kernel/kalloc.o
xv6_patched/kernel/kbd.d
xv6_patched/kernel/kbd.o
xv6_patched/kernel/kernel
xv6_patched/kernel/lapic.d
xv6_patched/kernel/lapic.o
xv6_patched/kernel/main.d
xv6_patched/kernel/main.o
xv6_patched/kernel/mp.d
xv6_patched/kernel/mp.o
xv6_patched/kernel/multiboot.d
xv6_patched/kernel/multiboot.o
xv6_patched/kernel/picirq.d
xv6_patched/kernel/picirq.o
xv6_patched/kernel/pipe.d
xv6_patched/kernel/pipe.o
xv6_patched/kernel/proc.d
xv6_patched/kernel/proc.o
xv6_patched/kernel/spinlock.d
xv6_patched/kernel/spinlock.o
xv6_patched/kernel/string.d
xv6_patched/kernel/string.o
xv6_patched/kernel/swtch.d
xv6_patched/kernel/swtch.o
xv6_patched/kernel/syscall.d
xv6_patched/kernel/syscall.o
xv6_patched/kernel/sysfile.d
xv6_patched/kernel/sysfile.o
xv6_patched/kernel/sysproc.d
xv6_patched/kernel/sysproc.o
xv6_patched/kernel/timer.d
xv6_patched/kernel/timer.o
xv6_patched/kernel/trap.d
xv6_patched/kernel/trap.o
xv6_patched/kernel/trapasm.d
xv6_patched/kernel/trapasm.o
xv6_patched/kernel/uart.d
xv6_patched/kernel/uart.o
xv6_patched/kernel/vectors.d
xv6_patched/kernel/vectors.o
xv6_patched/kernel/vectors.S
xv6_patched/kernel/vm.d
xv6_patched/kernel/vm.o
xv6_patched/tools/mkfs
xv6_patched/tools/mkfs.d
xv6_patched/tools/mkfs.o
xv6_patched/user/cat.d
xv6_patched/user/cat.o
xv6_patched/user/echo.d
xv6_patched/user/echo.o
xv6_patched/user/elijahtest.d
xv6_patched/user/elijahtest.o
xv6_patched/user/forktest.d
xv6_patched/user/forktest.o
xv6_patched/user/grep.d
xv6_patched/user/grep.o
xv6_patched/user/init.d
xv6_patched/user/init.o
xv6_patched/user/kill.d
xv6_patched/user/kill.o
xv6_patched/user/ln.d
xv6_patched/user/ln.o
xv6_patched/user/ls.d
xv6_patched/user/ls.o
xv6_patched/user/mkdir.d
xv6_patched/user/mkdir.o
xv6_patched/user/printf.d
xv6_patched/user/printf.o
xv6_patched/user/rm.d
xv6_patched/user/rm.o
xv6_patched/user/sh.d
xv6_patched/user/sh.o
xv6_patched/user/stressfs.d
xv6_patched/user/stressfs.o
xv6_patched/user/test1.d
xv6_patched/user/test1.o
xv6_patched/user/test2.d
xv6_patched/user/test2.o
xv6_patched/user/test3.d
xv6_patched/user/test3.o
xv6_patched/user/tester.d
xv6_patched/user/tester.o
xv6_patched/user/ulib.d
xv6_patched/user/ulib.o
xv6_patched/user/umalloc.d
xv6_patched/user/umalloc.o
xv6_patched/user/usertests.d
xv6_patched/user/usertests.o
xv6_patched/user/usys.d
xv6_patched/user/usys.o
xv6_patched/user/wc.d
xv6_patched/user/wc.o
xv6_patched/user/zombie.d
xv6_patched/user/zombie.o
xv6_patched/user/bin/cat
xv6_patched/user/bin/echo
xv6_patched/user/bin/elijahtest
xv6_patched/user/bin/forktest
xv6_patched/user/bin/grep
xv6_patched/user/bin/init
xv6_patched/user/bin/kill
xv6_patched/user/bin/ln
xv6_patched/user/bin/ls
xv6_patched/user/bin/mkdir
xv6_patched/user/bin/rm
xv6_patched/user/bin/sh
xv6_patched/user/bin/stressfs
xv6_patched/user/bin/test1
xv6_patched/user/bin/test2
xv6_patched/user/bin/test3
xv6_patched/user/bin/tester
xv6_patched/user/bin/usertests
xv6_patched/user/bin/wc
xv6_patched/user/bin/zombie
~$*.docx
